body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.site-heading-lower{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mb-3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#mainNav{
    background-color: rgba(255, 248, 220, 0.745);
}